.nav-tab {
  background-color: #1976d2;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

  .MuiTabs-root {
    margin: 0 auto;
  }

  .MuiTab-root {
    font-size: 1rem;

    &:hover {
      background-color: white;
      color: #1976d2;
    }
  }

  .Mui-selected {
    background-color: white;
  }

}
